{{define "body"}}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="row">
        <h1 class="page-header">
            {{if (eq .User.Role.Slug "admin") }} Entity Management /
            <div id="entityName" style="display: initial;"></div> {{else}} {{.Title}}{{end}}
        </h1>
    </div>
    <div id="flashes" class="row">
        {{template "flashes" .Flashes}}
    </div>


    <div class="row">
        <button type="button" class="btn btn-primary" id="new_button" data-toggle="modal" data-backdrop="static" data-user-id="-1" data-target="#modal">
            <i class="fa fa-plus"></i> New Department</button>
    </div>

    <div id="loading">
        <i class="fa fa-spinner fa-spin fa-4x"></i>
    </div>
    <div class="row">
        <table id="userTable" class="table" style="display:none;">
            <thead>
                <tr>
                    <th>Department Name</th>
                    <th class="col-md-2 no-sort"></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="userModalLabel">New Department</h4>
            </div>
            <div class="modal-body" id="modal_body">
                <div class="row" id="modal.flashes"></div>
                <label class="control-label" for="name">Department Name:</label>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Department Name" id="name" autofocus />
                    <input id="teamid" value="{{ .User.Teamid }}" type="text" hidden>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="modalSubmit">Save changes</button>
            </div>
        </div>
    </div>
</div>
{{end}} {{define "scripts"}}
<!-- <script src="/js/dist/app/passwords.min.js"></script> -->
<script src="/js/src/app/departments.js"></script>
{{end}}